<div class="project-short-container">
    <div class="project-short">
        <div class="project-short-small">
            <div class="project-short-feature">
                <img src="/assets/img/projects/rope-tool/1.png"/>
            </div>
            <div class="project-short-gradient">
                <div class="project-short-title">
                    Placeholder Title That Is Very Long{{include.title}}
                </div>
            </div>
            <div class="project-short-desc">
                <div class="project-short-desc-text">
                    Placeholder description with probably somewhere around two lines worth of words. {{include.desc}}
                </div>
            </div>
        </div>
    </div>
</div>