<div class="project-short-container">
    <div class="project-short">
        <div class="project-short-feature">
            This is where a video/picture/gif would go 
        </div>
        <div class="project-short-gradient">
            <div class="project-short-title">
                Placeholder Title {{include.title}}
            </div>
        </div>
        <div class="project-short-desc">
            Placeholder description with probably somewhere around two lines worth of words. {{include.desc}}
        </div>
    </div>
</div>