<div class="project-short-container">
    <div class="project-short">
        <div class="project-short-small">
            <a href={{include.link}}>
                <div class="project-short-feature">
                    <img src={{include.still}}/>
                    <!--
                    <div class="project-short-feature-img" 
                    {% assign str1 = "background-image:url(" %}
                    {% assign str2 = ")" %}
                    {% assign strfull = {{str1}} | append: {{include.still}} | append: {{str2}} %}
                        style= {{ strfull }} ></div>-->
                </div>
            </a>
            <div class="project-short-gradient">
                <div class="project-short-title">
                    
                </div>
            </div>
            <div class="project-short-bottom">
                <div class="project-short-hiddeninfo">
                    {% for icon in include.icons %}
                        <img class="hidden-icon" src={{icon}}/>
                    {% endfor %}
                    <div class="project-short-daterange">
                        {{include.daterange}}
                    </div>
                </div>
                <div class="project-short-title-bottom">
                    {{include.title}}
                </div>
                <div class="project-short-bottom-desc">
                    {{include.desc}}
                </div>
                
            </div>
        </div>
    </div>
    <!--
    <div class="text-box">
        <div class="project-short-desc-text">
            {{include.desc}}
        </div>
    </div>-->
</div>