<div class="socmed-container">
    <div class="socmed-type">
        {{include.site}} <!-- e.g. youtube, linkedin, ect -->
    </div>
    <div class="socmed-media-container">
        <!-- video embed -->
        {% if include.video %} 
            <video width="640" height="360" controls>
                <source src={{include.video}} type="video/mp4">

                <!-- image displays as backup -->
                <img src={{include.img}} width="640" height="360">
            </video> 
        
        <!-- image or gif embed -->
        {% elsif include.img %} 
            <img src={{include.img}} width="640" height="360">
        {% endif %}
    </div>
    <div class="socmed-title">
        <a href={{include.url}}>{{include.title}}</a>
    </div>
    <div class="socmed-description">
        {{include.desc}}
    </div>
</div>