
$color-bg: #ffdb4d;
$color-bg-textbox: #ffe680;

.debug {
    border:1px solid red;
}

body {
    color: black;
    font-family: Verdana;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffd700' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title-custom {
	font-size:22px;
	font-weight:bold;
	height:100%;
	padding:0 0 4px 2px;
	margin:15px 0 0 0;
	width:140px;
	overflow: visible;
	white-space: nowrap;
	border-bottom:4px dotted black;
}

.comic-border {
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

.text-box {
    background-color: $color-bg-textbox;
    margin:20px;
    padding:25px;
    border: 2px dashed gold;
    font-size:17px;
}


.linktree-link {
    font-size:17px;
    /*text-align: center;*/
    text-decoration:none;
    display:inline-block;
    width: calc(49% - 62px);
    padding:20px;
    padding-right:13px;
    background-color:white;
    color:black;
    border-color:black;
    box-shadow: 5px 5px black;
    border:2px solid;
    border-radius:3px;
    margin-left:10px;
    margin-right:15px;
    margin-top: 15px;
    margin-bottom:15px;
    transition:0.2s;
  }
  .linktree-link:hover {
    /* like pulling out 2 cards */
    box-shadow: 15px 15px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom:15px;
    filter: brightness(95%);
    transition: 0.3s;
  }

.linktree-container {
    @extend .text-box;
    height:190px;	/*hacky fix for multiple button animations going causing the containing div height to change */
    padding:5px;
    padding-left:6px;
}

.linktree-link img {
	height:32px;
	margin:-10px;
	margin-right:5px;
}

.header {
    position:fixed;
}

.footer {
    clear: both;
    font-size:10;
    margin-top:15px;
    margin-left:5px;
}