
@use "global";

$color-bg: #ffdb4d;
$color-bg-textbox: #ffe680;

$containerMargin:30px;

$cardWidth: 640px;
$featureHeight: 360px;

$cardWidthSmall: 512px;
$featureHeightSmall: 288px;

$cardMargin-side:5px;
$cardMargin-top:20px;

$cardWidthTotal: calc($cardWidth + ($cardMargin-side * 2));

$aboutCardShift: 40px;
$aboutCardWidthReduction: 50px;
$aboutCardExtraHeight: 120px;

$titleHeight: 130px;
$descHeight: 80px;

$cardHeight: $featureHeight + $descHeight;
$cardHeightSmall: $featureHeightSmall + $descHeight;

$titlePadding: 20px;
$titleWordSpace: $titlePadding + $titlePadding + 30px;

$transitionSpeedProjSize: 0.3s;



$bg-width-subtract: 0px;
$bg-fadein-distance: 440px;
$bg-highest-percent: 50%;

.home-container {

    background: 
    linear-gradient(
    hsl(48, 100%, 75%, 0) 0%,
    hsla(48, 100%, 75%, 0.28) calc($bg-fadein-distance),
    hsla(48, 100%, 75%, 0.28) calc(100% - $bg-fadein-distance),
    hsl(48, 100%, 75%, 0) 100%
    )/*,
    linear-gradient( to right, 
    hsl(48, 100%, 75%, 0) 0%,
    hsla(48, 100%, 75%, 0.3) calc($bg-fadein-distance),
    hsla(48, 100%, 75%, 0.3) calc(100% - $bg-fadein-distance),
    hsl(48, 100%, 75%, 0) 100%
    )*/;
}


/*

.content-bg-top {
    top: calc($aboutCardShift + $containerMargin);
    height:$bg-fadein-distance;
    background-image: linear-gradient( /* modified from: https://css-tricks.com/easing-linear-gradients/ *//*
        hsl(48, 100%, 75%, 0) 0%,
        hsla(48, 100%, 75%, 0.002) calc(100% - 98.2%),
        hsla(48, 100%, 75%, 0.008) calc(100% - 95.2%),
        hsla(48, 100%, 75%, 0.021) calc(100% - 91%),
        hsla(48, 100%, 75%, 0.042) calc(100% - 86.1%),
        hsla(48, 100%, 75%, 0.075) calc(100% - 80.2%),
        hsla(48, 100%, 75%, 0.126) calc(100% - 73%),
        hsla(48, 100%, 75%, 0.194)  calc(100% - 65%),
        hsla(48, 100%, 75%, 0.278)  calc(100% - 56.5%),
     /*   hsla(48, 100%, 75%, 0.382)  calc(100% - 47%),
   /*     hsla(48, 100%, 75%, 0.541)  calc(100% - 34%),
        hsla(48, 100%, 75%, 0.738)  calc(100% - 19%),
        hsla(48, 100%, 75%) 100%*//*
      );
      @extend .content-bg;
}

.content-bg-middle {
    background-color: hsla(48, 100%, 75%, 0.278);
    height:2200px;
    @extend .content-bg;
}

.content-bg-bottom {
    height:$bg-fadein-distance;
    bottom: $containerMargin;
      background-image: linear-gradient(
 /* hsl(48, 100%, 75%) 0%,
  hsla(48, 100%, 75%, 0.738) 19%,
  hsla(48, 100%, 75%, 0.541) 34%,
  hsla(48, 100%, 75%, 0.382) 47%,*//*
  hsla(48, 100%, 75%, 0.278) 56.5%,
  hsla(48, 100%, 75%, 0.194) 65%,
  hsla(48, 100%, 75%, 0.126) 73%,
  hsla(48, 100%, 75%, 0.075) 80.2%,
  hsla(48, 100%, 75%, 0.042) 86.1%,
  hsla(48, 100%, 75%, 0.021) 91%,
  hsla(48, 100%, 75%, 0.008) 95.2%,
  hsla(48, 100%, 75%, 0.002) 98.2%,
  hsla(48, 100%, 75%, 0) 100%
);
  @extend .content-bg;
}
*/

.home-container {
    margin: calc($aboutCardShift + $containerMargin) auto $containerMargin;
}

#home-container {
    width: $cardWidthTotal;
}

/* 2 rows */
@media only screen and (min-width: calc(($cardWidthTotal * 2)/* + (containerMargin * 2)*/)) {
    #home-container {
        width: calc($cardWidthTotal * 2);
    }
    .home-card:nth-child(2n) {
        float:left;
        clear: left;
    }
    .home-card:nth-child(2n + 1) {
        clear: right;
        float:right;
    }
}
/* 3 rows */
@media only screen and (min-width: calc(($cardWidthTotal * 3)/* + (containerMargin * 2)*/)) {
    #home-container {
        width: calc($cardWidthTotal * 3);
    }
    .home-card:nth-child(3n + 2) {
        clear: left;
    }
}

.big-title {
    font-size:36px;
    font-weight:bold;
    float:right;
    height: $aboutCardShift;
    margin-top:-$aboutCardShift;
}

.home-card {
    width: $cardWidth;
    height: $cardHeight;
    margin:$cardMargin-top $cardMargin-side;
    float:left;
}

.about-card {
    @extend .home-card;
    height: calc($cardHeight + $aboutCardExtraHeight);
}

.about {
    @extend .comic-border;
    background-color: $color-bg;
    padding:20px;
    margin-top:-$aboutCardShift;
    /*height: $cardHeight + $aboutCardShift - $aboutCardWidthReduction + $aboutCardExtraHeight;*/
    width: calc($cardWidth - $aboutCardWidthReduction);
}

.about/*, .about .text-box*/ {
    transform: rotate(-1deg);
}

.about .about-untilt {
    transform: rotate(1deg);
}

/* featured project */
.featured {
    @extend .text-box;
    transform: rotate(1deg);
}
.featured-untilt {
    transform:rotate(-1deg);
}


.project-short-container {
    @extend .home-card;
}

.project-short {

    clear:both;

    width: $cardWidthSmall;
    height: $cardHeightSmall;
    margin: calc(($cardHeight - $cardHeightSmall) / 2) auto 0px auto;

    transition: $transitionSpeedProjSize;
}

.project-short-container:hover .project-short {
    width:$cardWidth;
    height:$cardHeight;
    margin-top:0px;

    transition: $transitionSpeedProjSize;
}

.project-short-feature {
    height:$featureHeightSmall;
    background-color:$color-bg;

    @extend .comic-border;

    position:relative;
    z-index:1;

    transition: $transitionSpeedProjSize;
}

.project-short-container:hover .project-short-feature {
    height:$featureHeight;

    transition: $transitionSpeedProjSize;
}

.project-short-feature img {
    /*
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
*/
    max-height: 100%;
    max-width:100%;

    position:relative;
    z-index:10;
}

.project-short-gradient {
    
    /*
    height: $titleHeight;
    margin-top: -$titleHeight;
    background-image: linear-gradient( /* modified from: https://css-tricks.com/easing-linear-gradients/ */ /*
        hsl(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.002) calc(100% - 98.2%),
        hsla(0, 0%, 0%, 0.008) calc(100% - 95.2%),
        hsla(0, 0%, 0%, 0.021) calc(100% - 91%),
        hsla(0, 0%, 0%, 0.042) calc(100% - 86.1%),
        hsla(0, 0%, 0%, 0.075) calc(100% - 80.2%),
        hsla(0, 0%, 0%, 0.126) calc(100% - 73%),
        hsla(0, 0%, 0%, 0.194)  calc(100% - 65%),
        hsla(0, 0%, 0%, 0.278)  calc(100% - 56.5%),
        hsla(0, 0%, 0%, 0.382)  calc(100% - 47%),
        hsla(0, 0%, 0%, 0.541)  calc(100% - 34%),
        hsla(0, 0%, 0%, 0.738)  calc(100% - 19%),
        hsla(0, 0%, 0%) 100%
      );*/
      position:relative;
      z-index:100;
}

.project-short-bottom {

    /* cheating */
    border-top: 5px solid hsl(48, 100%, 75%); 
    margin-top:-5px;
    
    height: calc($cardHeight - $featureHeightSmall + $cardMargin-top);
    
    background-image: linear-gradient(
        hsl(48, 100%, 75%) 0%,
         hsla(48, 100%, 75%, 0.738) 19%,
         hsla(48, 100%, 75%, 0.541) 34%,
         hsla(48, 100%, 75%, 0.382) 47%,
         hsla(48, 100%, 75%, 0.278) 56.5%,
         hsla(48, 100%, 75%, 0.194) 65%,
         hsla(48, 100%, 75%, 0.126) 73%,
         hsla(48, 100%, 75%, 0.075) 80.2%,
         hsla(48, 100%, 75%, 0.042) 86.1%,
         hsla(48, 100%, 75%, 0.021) 91%,
         hsla(48, 100%, 75%, 0.008) 95.2%,
         hsla(48, 100%, 75%, 0.002) 98.2%,
         hsla(48, 100%, 75%, 0) 100%
       );

    
    z-index:0;
    position:relative;
    transition: $transitionSpeedProjSize;
}
.project-short-container:hover .project-short-bottom {

    transition: $transitionSpeedProjSize;
}

.project-short-title-bottom {
    font-size:24px;
    font-weight:bold;
    padding: $titlePadding;
    color:black;
    width: $cardWidthSmall - calc($titlePadding * 2);
    z-index:101;
}

.project-short-title {
    font-size:24px;
    font-weight:bold;
    padding: $titlePadding;
    color:white;
    width: $cardWidthSmall - calc($titlePadding * 2);
    margin-top: calc($titleHeight - $titleWordSpace);
    position:absolute;
    bottom:0;
    z-index:101;
}

.project-short-bottom-desc {
    padding: $titlePadding;
    color:black;
    width: $cardWidthSmall - calc($titlePadding * 2);
    padding-top:0;
}

.project-short-desc {
    background-color: black;
    padding: $titlePadding;
    height: calc($descHeight - ($titlePadding * 2));
    
    background-color: $color-bg-textbox;
    border-top: 1px dashed gold;
}
.project-short-desc-text {
    width: calc($cardWidthSmall - 60px);
}

.project-short-hiddeninfo {
    float:right;

    visibility:hidden;
    width:0px;
    padding:0px;
    transition: calc($transitionSpeedProjSize);
}
.project-short-container:hover .project-short-hiddeninfo {
    visibility: visible;
    width: calc($cardWidth - $cardWidthSmall - 20px);
    padding: $titlePadding;
    transition: calc($transitionSpeedProjSize);
}
