
@use "global";

$color-bg: #ffdb4d;
$color-bg-textbox: #ffe680;

$containerMargin:30px;
$containerPadding:25px;

$cardWidth: 640px;
$featureHeight: 360px;
$featureWidth: 640px;

$cardWidthSmall: 512px;
$featureHeightSmall: 288px;
$featureWidthSmall: 512px;

$cardMargin-side:5px;
$cardMargin-top:35px;

$cardWidthTotal: calc($cardWidth + ($cardMargin-side * 2));

$aboutCardShift: 40px;
$aboutCardWidthReduction: 55px;
$aboutCardExtraHeight: 135px;

$titleHeight: 130px;
$descHeight: 80px;

$cardHeight: $featureHeight + $descHeight;
$cardHeightSmall: $featureHeightSmall + $descHeight;

$titlePadding: 20px;
$titleWordSpace: $titlePadding + $titlePadding + 30px;

$transitionSpeedProjSize: 0.3s;


$bg-fadein-distance: 440px;

.home-container {
    margin: calc($aboutCardShift + $containerMargin) auto calc($containerMargin);
    
    padding-left: $containerPadding;
    padding-right: calc($containerPadding + 2px);

    background: 
    linear-gradient(
    hsl(48, 100%, 75%, 0) 0%,
    hsla(48, 100%, 75%, 0.28) calc($bg-fadein-distance),
    hsla(48, 100%, 75%, 0.28) calc(100% - $bg-fadein-distance),
    hsl(48, 100%, 75%, 0) 100%
    );
}

#home-container {
    width: $cardWidthTotal;
}

.home-card {
    width: $cardWidth;
    height: $cardHeight;
    margin:$cardMargin-top $cardMargin-side;
    float:left;
}

.about-card {
    @extend .home-card;
    height: calc($cardHeight + $aboutCardExtraHeight);
    position: relative; /* to position the featured background correctly */
}

.about {
    @extend .comic-border;
    background-color: $color-bg;
    padding:20px;
    margin-top:-$aboutCardShift;
    /*height: $cardHeight + $aboutCardShift - $aboutCardWidthReduction + $aboutCardExtraHeight;*/
    width: calc($cardWidth - $aboutCardWidthReduction);
}

.about/*, .about .text-box*/ {
    transform: rotate(-1deg);
}

.about .about-untilt {
    transform: rotate(1deg);
}

/* big title not displayed if one column */ 
.big-title {
    display:none;
}

/* 2 rows */
@media only screen and (min-width: calc(($cardWidthTotal * 2) + ($containerPadding * 2))) {
    #home-container {
        width: calc($cardWidthTotal * 2);
    }
    .home-card:nth-child(2n) {
        float:left;
        clear: left;
    }
    .home-card:nth-child(2n + 1) {
        clear: right;
        float:right;
    }

    /* featured project and big title-- only displayed if more than 1 column */
    .featured {
        position:absolute;
        background-color:#ffe68075;
        border: 2px dashed gold;
        transform: rotate(1deg);

        right: calc( -1 * ( $cardWidthTotal));
        top: 5px;

        height: calc(($cardMargin-top * 2) + $cardHeight + $titlePadding + 5px);
        width: calc($cardWidth - 8px);

    }
    .featured-untilt {
        transform:rotate(-1deg);
    }

    .big-title {
        display:inherit;
        font-size:36px;
        font-weight:bold;
        float:right;
        height: $aboutCardShift;
        margin-top:-$aboutCardShift;
    }
}
/* 3 rows */
@media only screen and (min-width: calc(($cardWidthTotal * 3) + ($containerPadding * 2))) {
    #home-container {
        width: calc($cardWidthTotal * 3);
    }
    .home-card:nth-child(3n + 2) {
        clear: left;
    }
}

.project-short-container {
    @extend .home-card;
}

.project-short {

    clear:both;

    width: $cardWidthSmall;
    height: $cardHeightSmall;
    margin: calc(($cardHeight - $cardHeightSmall) / 2) auto 0px auto;

    transition: $transitionSpeedProjSize;
}

.project-short-container:hover .project-short {
    width:$cardWidth;
    height:$cardHeight;
    margin-top:0px;

    transition: $transitionSpeedProjSize;
}

.project-short-feature {
    height:$featureHeightSmall;
    width: $featureWidthSmall;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffd700' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    */background-color: rgb(30,30,30);

    border: 2px solid black;
    box-shadow: 1px 1px 6px rgba(255,255,255,0.25), 5px 5px black;

    position:relative;
    z-index:1;

    transition: $transitionSpeedProjSize;
}

.project-short-container:hover .project-short-feature {
    height:$featureHeight;
    width: $featureWidth;

    transition: $transitionSpeedProjSize;
}

.feature-unhovered {
    opacity:1;
    position:absolute;

    height:$featureHeightSmall;
    width: $featureWidthSmall;

    transition: $transitionSpeedProjSize;
}
.project-short-container:hover .feature-unhovered {
    opacity:0;

    height:$featureHeight;
    width: $featureWidth;

    transition: $transitionSpeedProjSize;
}

.feature-hovering {
    opacity:0;
    position:absolute;

    height:$featureHeightSmall;
    width: $featureWidthSmall;

    transition: $transitionSpeedProjSize;
}
.project-short-container:hover .feature-hovering {
    opacity:1;

    height:$featureHeight;
    width: $featureWidth;

    transition: $transitionSpeedProjSize;
}

.feature-img-container img {
    max-height: $featureHeightSmall;
    max-width: $featureWidthSmall; 

    display:block;
    margin:0 auto;

    transition: $transitionSpeedProjSize;
}
.project-short-container:hover .feature-img-container img {
    max-height: $featureHeight;
    max-width: $featureWidth; 

    transition: $transitionSpeedProjSize;
}

.project-short-bottom {

    /* cheating */
    border-top: 5px solid hsl(48, 100%, 75%); 
    margin-top:-5px;
    
    height: calc($cardHeight - $featureHeightSmall + $cardMargin-top);
    
    background-image: linear-gradient(
        hsl(48, 100%, 75%) 0%,
         hsla(48, 100%, 75%, 0.738) 19%,
         hsla(48, 100%, 75%, 0.541) 34%,
         hsla(48, 100%, 75%, 0.382) 47%,
         hsla(48, 100%, 75%, 0.278) 56.5%,
         hsla(48, 100%, 75%, 0.194) 65%,
         hsla(48, 100%, 75%, 0.126) 73%,
         hsla(48, 100%, 75%, 0.075) 80.2%,
         hsla(48, 100%, 75%, 0.042) 86.1%,
         hsla(48, 100%, 75%, 0.021) 91%,
         hsla(48, 100%, 75%, 0.008) 95.2%,
         hsla(48, 100%, 75%, 0.002) 98.2%,
         hsla(48, 100%, 75%, 0) 100%
       );

    
    z-index:0;
    position:relative;
    transition: $transitionSpeedProjSize;
}
.project-short-container:hover .project-short-bottom {

    transition: $transitionSpeedProjSize;
}

.project-short-title-bottom {
    font-size:24px;
    font-weight:bold;
    padding: $titlePadding;
    color:black;
    width: $cardWidthSmall - calc($titlePadding * 2);
    z-index:101;
}

.project-short-title {
    font-size:24px;
    font-weight:bold;
    padding: $titlePadding;
    color:white;
    width: $cardWidthSmall - calc($titlePadding * 2);
    margin-top: calc($titleHeight - $titleWordSpace);
    position:absolute;
    bottom:0;
    z-index:101;
}

.project-short-bottom-desc {
    padding: $titlePadding;
    color:black;
    width: $cardWidthSmall - calc($titlePadding * 2);
    padding-top:0;
}

.project-short-desc {
    background-color: black;
    padding: $titlePadding;
    height: calc($descHeight - ($titlePadding * 2));
    
    background-color: $color-bg-textbox;
    border-top: 1px dashed gold;
}
.project-short-desc-text {
    width: calc($cardWidthSmall - 60px);
}

.project-short-hiddeninfo {
    float:right;

    visibility:hidden;
    width:0px;
    padding:0px;
    transition: calc($transitionSpeedProjSize);
}
.project-short-container:hover .project-short-hiddeninfo {
    visibility: visible;
    width: calc($cardWidth - $cardWidthSmall - 10px);
    padding: $titlePadding;
    padding-top: calc($titlePadding + 5px);
    padding-left:0px;
    padding-bottom: 0px;
    transition: calc($transitionSpeedProjSize);
}

.hidden-icon {
    float:right;
    max-width:0px;
    margin:0px;
    transition: calc($transitionSpeedProjSize);
}
.project-short-container:hover .hidden-icon {
    max-width:32px;
    max-height:32px;
    margin: 0 0 6px 5px;
    transition: calc($transitionSpeedProjSize);
}

.project-short-daterange {
    clear: both;
    text-align:right;
    font-size:0px;

    transition: calc($transitionSpeedProjSize);
}
.project-short-container:hover .project-short-daterange {
    font-size:inherit;

    transition: calc($transitionSpeedProjSize);
}