<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaden's site</title>
	<link rel="stylesheet" href="css/main.css">
  </head>

    {% include header.html %}
<!--
	<div class="content-background">
		<div class="content-bg-top"></div>
		<div class="content-bg-middle"></div>
		<div class="content-bg-bottom"></div>
	</div>-->
  
    <div class="home-container" id="home-container">

		<div class="big-title">
			computeruser.neocities.org
		</div>
		<div class="about-card">
			<div class="about">
				<div class="about-untilt">
					<div class="title-custom">
						About
					</div>
					<div class="text-box">
							{{ content }}
					</div>
					<div class="title-custom">
						Links
					</div>
					<div class="linktree-container">
	
							{% for link in site.data.links %}
								{% include linktreelink.html title=link.title url=link.link icon=link.icon %}
							{% endfor %}
	
					</div>
				</div>
			</div>
		</div>

        {% for project in site.data.projects %}
            {% include project-shortform.html proj=project title=project.title desc=project.desc-short still=project.still link=project.featurelink icons=project.icons date=project.release %}
        {% endfor %}

		{% include footer.html %}
      </div>
    
    </div>
  </body>
</html>
<!--
      <div class="content-holder">

		<div class="title-custom">
			Links
		</div>

		<div class="linktree-container" style="padding-top:5px;">
			<a id="linktree-itch" class="linktree" href="https://computeruser.itch.io/" target="_blank">
				<img src="/images/icons/itch.png">
				<div class="linktree-secret">computeruser.</div>itch.io
			</a>

			<a id="linktree-github" class="linktree" href="https://github.com/cep450" target="_blank">
				<img src="/images/icons/github.png">
				github<div class="linktree-secret">.com/cep450</div>
			</a>
		</div>
		<div class="linktree-container" style="padding-bottom:5px;">
			<a id="linktree-twitter" class="linktree" href="https://twitter.com/computerloved" target="_blank">
				<img src="/images/icons/twitter.png">
				twitter<div class="linktree-secret">.com/computerloved</div>
			</a>

			<a id="linktree-email" class="linktree" href="mailto:cep450@nyu.edu">
				<img src="/images/icons/email.png">
				email<div class="linktree-secret">: cep450<p style="visibility:none">invisible thing to deter crawlers from grabbing my email</p>@nyu<p style="visibility:none"></p>.edu</div>
			</a>
		</div>

		<div class="title-custom">
			Selected Works
		</div>

		<div class="inset">
			<div class="polaroid-container" id="polaroid-container-1">
				<div class="polaroid">
					<a href="https://xandergoodwin.itch.io/rope-tool">
					<div class="polaroid-image">
						<img class="polaroid-image-1" src="https://img.itch.zone/aW1hZ2UvMTk1NDkyMi8xNTg4NTk0Mi5wbmc=/original/nhFpk2.png"/>
						<img class="polaroid-image-2" src="https://computeruser.neocities.org/images/rope_tool_3_24_gif_discord_optimized.gif"/>
					</div>
					<div class="polaroid-caption">
						Project Rope Tool
						<br>
						<div class="polaroid-caption-small">Summer 2023-Present</div>
					</div>
					</a>
				</div>
			</div>
			<i><b><a href="https://xandergoodwin.itch.io/rope-tool">Project Rope Tool</a></b></i>, a physics-led action game where you pilot a spaceship using only a grappling-hook-stapler-device. Currently in development, <a href="https://store.steampowered.com/app/2958730/Project_Rope_Tool/">wishlist on Steam!</a>
		</div>

		<div class="inset">
			<div class="polaroid-container" id="polaroid-container-2">
				<div class="polaroid">
					<a href="https://computeruser.itch.io/gnomes">
					<div class="polaroid-image">
						<img class="polaroid-image-1" src="https://img.itch.zone/aW1nLzEyMTk2NTI5LnBuZw==/315x250%23c/S0fCN3.png"/>
						<img class="polaroid-image-2" src="https://img.itch.zone/aW1nLzEyMTk2NTI5LnBuZw==/315x250%23c/S0fCN3.png"/>
					</div>
					<div class="polaroid-caption">
						Terrarium
						<br>
						<div class="polaroid-caption-small">Spring 2023</div>
					</div>
					</a>
				</div>
			</div>
			<i><b><a href="https://computeruser.itch.io/gnomes">Terrarium/Gnome Gnardener</a></b></i>, a reverse colony sim offering an alternative to genre conventions about the relationship between civilization and nature, by playing balance instead of growth.
		</div>

		<div class="inset">
			<div class="polaroid-container" id="polaroid-container-3">
				<div class="polaroid">
					<a href="https://courtesy.itch.io/pbouxhkiir-night">
					<div class="polaroid-image">
						<img class="polaroid-image-1" src="https://img.itch.zone/aW1nLzE0MDY4NTQ5LnBuZw==/315x250%23c/HY1sb1.png"/>
						<img class="polaroid-image-2" src="https://img.itch.zone/aW1nLzE0MDY4NTQ5LnBuZw==/315x250%23c/HY1sb1.png"/>
					</div>
					<div class="polaroid-caption">
						Pbouxhkiir Night
						<br>
						<div class="polaroid-caption-small">Fall 2023</div>
					</div>
					</a>
				</div>
			</div>
			<i><b><a href="https://courtesy.itch.io/pbouxhkiir-night">Pbouxhkiir Night on the Primox Alpha</a></b></i>, a narrative sci-fi comedy jam game that won our team a pizza.
		</div>
      </div>
    </div>
  </body>
</html>
-->