<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaden's site</title>
	<link rel="stylesheet" href="css/main.css">
  </head>

    <div class="home-container" id="home-container">

		<div class="big-title">
			computeruser.neocities.org
		</div>

		<div class="about-card">
			<div class="featured"></div>
			<div class="about">
				<div class="about-untilt">
					<div class="title-custom">
						About
					</div>
					<div class="text-box">
						<div class="text-box-multiparagraph-container">
							{{ content }}
						</div>
					</div>
					<div class="title-custom">
						Links
					</div>
					<div class="linktree-container">
	
							{% for link in site.data.links %}
								{% include linktreelink.html title=link.title url=link.link icon=link.icon %}
							{% endfor %}
	
					</div>
				</div>
			</div>
		</div>

        {% for project in site.data.projects %}
            {% include project-shortform.html proj=project title=project.title desc=project.desc-short still=project.still link=project.featurelink icons=project.icons date=project.release videofile=project.video youtubeid=project.youtubeid %}
        {% endfor %}

		{% include footer.html %}
      </div>
    </div>
  </body>

  <script> 
	// videofile videos automatically pause if no longer being hovered 
	
	const videos = document.querySelectorAll('video.feature-hovering');
	
	videos.forEach(video => {
	  video.addEventListener('mouseenter', () => {
		video.play();
	  });
	  
	  video.addEventListener('mouseleave', () => {
		video.pause();
	  });
	});
	</script> 

</html>